body {
  background-color: lightseagreen;
  font-family: Arial, sans-serif;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 36px;
  font-style: oblique;
}
h2 {
  color: darkblue;
  font-size: 24px;
  font-style: italic;
}
p {
  color: black;
  font-size: 16px;
  font-style: italic;
}
